.env
__pycache__
.vscode/
VENV/

# Add files like `.env` into `.gitignore` by:
# C
# git rm -r --cached .env
# git add .gitignore
# git commit -m 'untracking .env'
# git push origin master
Json/db.json
Json/prefixes.json
